body {
  background-image: linear-gradient(
    to bottom,
    #06042e,
    #001252,
    #001978,
    #001fa0,
    #0022c8,
    #0022c8,
    #0022c8,
    #0022c8,
    #001fa0,
    #001978,
    #001252,
    #06042e
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.item {
  width: 300px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  word-wrap: break-word;
  background-color:white;

}

.item > img {
  width: 300px;
  height: 300px;
}

.item p {
  font-size: 24px;
  color: black;
}

.item label {
  font-weight: bold;
  color: rgb(128, 128, 128);
}
